*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Overpass', sans-serif;
}

:root{
    --grey-950: #131518;
    --grey-900: #262E38;
    --grey-500: #969FAD;
    --orange-500: #FC7614;
}

body{
    max-width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    width: 412px;
    height: 416px;
    background: linear-gradient(to bottom, #232A34, #181E27);
    border-radius: 25px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.container-msg{
    width: 412px;
    height: 416px;
    background: linear-gradient(to bottom, #232A34, #181E27);
    border-radius: 25px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.paragraph{
    color: var(--grey-500);
    text-align: center;
}


.star{
    background-color: var(--grey-900);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question{
    color: white;
}

.text{
    color: var(--grey-500);
    line-height: 25px;
}

.rating > ul{
    color: var(--grey-500);
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.rating > ul > li{
    width: 48px;
    height: 48px;
    background-color: var(--grey-900);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.rating > ul > li:hover{
    background-color: var(--orange-500);
    color: var(--grey-900);
    cursor: pointer;
}

.rating li.ativo{
    background-color: white;
    color: var(--grey-900);
}

#btnSubmit{
    background-color: var(--orange-500);
    border: none;
    width: 100%;
    height: 45px;
    border-radius: 22.5px;
    font-weight: bold;
    cursor: pointer;
    
}

#btnSubmit:hover{
    background-color: white;
    transition: ease-in-out 0.3s;
    
}

#notaEscolhida{
    background-color: var(--grey-900);
    font-size: 0.8rem;
    padding: 8px 20px;
    border-radius: 22px;
    color: var(--orange-500);
    letter-spacing: 1px;
    font-weight: 200;

}